// Size
$max-width: 960px;
$default-font-size: 18px;

// Color
$primary-color: rgb(0, 120, 231);
$success-color: rgb(28, 184, 65);
$danger-color: rgb(202, 60, 60);
$warning-color: rgb(223, 117, 20);
$secondary-color: rgb(66, 184, 221);

