@import url('https://unpkg.com/purecss@0.6.2/build/pure-min.css');
@import url('https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css');

@import 'variables';

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: monospace;
    font-size: $default-font-size;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 10px 18px;
}

a {
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
}

.nav {
  border-bottom: 1px solid #ddd;

  p {
    font-weight: 700;
  }
}

.footer {
  color: #bbb;
  margin-top: 36px;
  border-top: 1px solid #ddd;

  p {
    font-size: $default-font-size * .8;
  }
}

.control-wrapper {
  margin: 18px 0;
}

table {
  font-size: $default-font-size * .8;
}

[class *= "button-"] {
  color: #fff;
}

.button-danger {
  background-color: $danger-color;
}

.button-warning {
  background-color: $warning-color;
}

.button-secondary {
  background-color: $secondary-color;
}

.success-message {
  padding: 10px 18px;
  background-color: lighten($success-color, 50%);

  h2 {
    color: $success-color;
  }
}

.danger-message {
  padding: 10px 18px;
  background-color: lighten($danger-color, 45%);

  h2 {
    color: $danger-color;
  }
}

.warning-message {
  padding: 10px 18px;
  background-color: lighten($warning-color, 45%);

  h2 {
    color: $warning-color;
  }
}

pre {
  padding: 10px 18px;
  background: #eee;
  border-left: 8px solid #ccc;
  overflow: hidden;
}
