<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Protect Link Node.js</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="wrapper">
    <div class="container">

    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1">
        <h1>
          <a href="/link">protect link</a> / create
        </h1>
        <form action="/link" method="POST" class="pure-form">
          {{#csrfToken}}
          <input type="text" name="_csrf" value="{{csrfToken}}" hidden>
          {{/csrfToken}}

          <div>
            <input class="pure-input-1" type="url" name="url" placeholder="https://google.com/">
          </div>

          <p>i want to protect the link above from ninja</p>

          <div>
            <label for="passwordLock" class="pure-checkbox">
              <input type="checkbox" name="passwordLock">
              using
              <input class="pure-input-1-3" type="text" name="password" placeholder="stR0ng-p4sSw0rd!">
              as password
            </label>
          </div>

          <p>and require who want to access this link has</p>

          <div>
            <label for="reactLock" class="pure-checkbox">
              <input type="checkbox" name="reactLock" checked>
              to react to my post.
            </label>
          </div>

          <p>i also demand that</p>

          <div>
            <label for="countLock" class="pure-checkbox">
              <input type="checkbox" name="countLock">
              my post has at least
              <input type="number" name="count" placeholder="100">
              <select name="type">
                <option>reactions</option>
                <option>comments</option>
                <option>shares</option>
              </select>
            </label>
          </div>

          <p>or the link can't be unprotected.</p>

          <p>
            ok, all set! now
            <button type="submit" class="pure-button pure-button-primary">let ninja could never see my link!</button>
          </p>

        </form>
      </div>
    </div>

    </div>
    </div>
    <script src="/js/scripts.js"></script>
  </body>
</html>
