<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Protect Link Node.js</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>protect link from ninja</h1>
    <form action="/link" method="POST">
      <div>
        <input type="url" name="url" placeholder="https://google.com/">
      </div>
      <div>
        <label for="passwordLock">
          <input type="checkbox" name="passwordLock">
          Password Lock
        </label>
        <input type="text" name="password" placeholder="this-1s-a-str0ng-p4ssw0rd!">  
      </div>
      <div>
        <label for="reactionLock">
          <input type="checkbox" name="reactionLock">
          Reaction Lock
        </label>
      </div>
      <button type="submit">Protect</button>
    </form>
    <ul>
      <li><a href="/link">Your Protected Links</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <script src="/js/scripts.js"></script>
  </body>
</html>
