{{^hasData}}
<p>nothing to protect, i gave them all.</p>
{{/hasData}}
{{#hasData}}
<div class="control-wrapper">
  <table class="pure-table">
    <thead>
      <tr>
        <th>id</th>
        <th>url</th>
        <th>postId</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {{#links}}
      <tr>
        <td><a href="/link/{{id}}">{{id}}</a></td>
        <td>{{url}}</td>
        <td>{{postId}}</td>
        <td>
          <a href="/link/{{id}}/delete">delete</a>
          |
          <a href="/unprotect/{{unprotectId}}">public link</a>
        </td>
      </tr>
      {{/links}}
    </tbody>
  </table>
</div>
{{/hasData}}
