{{^hasData}}
<p>nothing to protect, i gave them all.</p>
{{/hasData}}
{{#hasData}}
<div class="control-wrapper">
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>url</th>
        <th>postId</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {{#links}}
      <tr>
        <td><a href="/link/{{id}}">{{id}}</a></td>
        <td>{{url}}</td>
        <td>{{postId}}</td>
        <td>
          <a href="/link/{{id}}/instruction" class="pure-button button-secondary" title="instruction">i</a>
          <a href="/link/{{id}}/edit" class="pure-button button-warning" title="edit">e</a>
          <a href="/link/{{id}}/delete" class="pure-button button-danger" title="delete">d</a>
          <a href="/unprotect/{{unprotectId}}" class="pure-button" title="copy public link">c</a>
        </td>
      </tr>
      {{/links}}
    </tbody>
  </table>
</div>
{{/hasData}}
