<div class="control-wrapper note">
  <h2>note:</h2>
  <ul>
    <li>you must include the <strong>hash</strong> below when posting a post in group, so the tool can update your group post id automatically.</li>
    <li>you can manually update your group post id by edit this link. how to get group post id <a href="/how-to/get-group-post-id">here</a>.</li>
    <li>if group post id is not specified, you can only use password lock.</li>
  </ul>
</div>
{{#link}}
<p>i've posted to group and include the hash,</p>
<p><a href="/link/{{id}}/update/auto" class="pure-button pure-button-primary">update group post id automatically for me</a></p>
<h2>hash</h2>
<pre>#protect@{{id}}</pre>
<h2>public link</h2>
<pre>http://{{host}}/unprotect/{{unprotectId}}</pre>
{{/link}}
